
<section id="testmonials" class="testmonials-section">
  <div class="container" style="border: solid 1px #00b1cd;">
    <div class ="order-books">
      <%= sort_link(@q, :title, I18n.t('books.labels.order'), default_order: :desc) %>
    </div>

    <div class="cards">
      <%= render partial: "books/book_card", collection: books, as: :book %>
    </div>
  </div>
</section>